{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  {{ block.super }}
  <div class="container">
    <div class="row" style="padding-top: 50px;">
      <div class="col s12 m2 l3"></div>
      <div class="col s12 m8 l6" id="login">
        <h2 class="nyumba-kumi">Post to your neighbourhood</h2>
        
        <form action="" method = 'POST' class="input-field col s12">
          {% csrf_token %}
          
          {{ form|crispy }}
          <button type="submit" class="col s12 waves-effect waves-light btn">Create</button>
        
        </form>
      </div>
      <div class="col s12 m2 l3"></div>
    </div> 
    
  </div>
  <!--footer-->
  <div class="section center" style="color: #8c9395;">
    <p>2022 nyumba-kumi</p>
  </div>
          
{% endblock %}

