<div class="navbar-fixed">
  <nav >
    <div class="nav-wrapper" style="padding-bottom: 0;">
      <a href="{% url 'index' %}" class="brand-logo left white-text">nyumbakumi</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li>
          <!--search for projects-->
          <form id="search-site" action="{% url 'search_results' %}" method='get'>
            <div class="input-field">
              <input placeholder="Find a business..."  id="search" type="text" class="validate" name="business">
            </div>
          </form>
        </li>
        <!--navbar icons-->
        <li><a href="/"><i class="material-icons white-text">home</i></a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'new_neighbourhood' %}"><i class="material-icons white-text">add</i></a></li>
          {% if user.profile.neighbourhood %}
          <li> <a href="{% url 'neighbourhood_details' request.user.profile.neighbourhood.pk %}" class="white-text"><i class="material-icons white-text">business</i>View hood</a></li>
          {% endif %}
          <li><a href="{% url 'profile' %}"><i class="material-icons white-text">account_circle</i></a></li>
          <li><a href="{% url 'logout' %}"><i class="material-icons white-text">exit_to_app</i></a></li>
          
        {% else %}
          <li><a href="{% url 'login' %}" class="white-text">login</a></li>
          <li><a href="{% url 'register' %}" class="white-text">register</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  
</div>
<ul class="sidenav" id="mobile-demo">
  <li><a href="/"><i class="material-icons white-text">home</i></a></li>
      {% if user.is_authenticated %}
        <li><a href="{% url 'new_neighbourhood' %}" class="white-text"><i class="material-icons white-text">add</i>create neighbourhood</a></li>
        {% if user.profile.neighbourhood %}
        <li> <a href="{% url 'neighbourhood_details' request.user.profile.neighbourhood.pk %}" class="white-text"><i class="material-icons white-text">business</i>View hood</a></li>
        {% endif %}
        <li><a href="{% url 'profile' %}" class="white-text"><i class="material-icons white-text">account_circle</i>view profile</a></li>
        <li><a href="{% url 'logout' %}" class="white-text"><i class="material-icons white-text">exit_to_app</i>log out</a></li>
        
      {% else %}
        <li><a href="{% url 'login' %}" class="white-text">login</a></li>
        <li><a href="{% url 'register' %}" class="white-text">register</a></li>
      {% endif %}
</ul>