.nav-wrapper, .sidenav, button{
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#login{
  background-color: white;
  border-style: solid;
  border-color: #dbdbdb;
  border-width: thin;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

#header{
  background-image: url('/static/photos/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}